.mainContainer{
    max-height:100%;
   
    border:2px solid black;
}

.chatArea{
    display:flex;
   flex-direction:column-reverse;
   overflow:scroll;
    height:10em;
    padding:2em;
    border:1px solid black;
}
#message{
    border:1px solid blue;
}

#name-display{
    color:black;
}
.leftChat{
    height:100%;
}
.chatSection{
    width:100%;
    display:flex;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
}
.rightStart{
  height:20em;
  display:flex;
  flex-direction:column;
  align-content: space-between;

}

.chatArea{
    text-align:right;
}

.innerBox{
    border:1px solid black;
 
    height:10em;
}

.nameForm{
    max-width: 100%;
    height: 57.4%;
    display: flex;
    flex-direction: column;
}

.startForm{
    display:inline-block;
}

/* .gameChoice1,.gameChoice2{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    width:100%;
    height:33.33%;
} */

.playerOne,.playerTwo,.gameMessage{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100%;
}

.gameChoice1:hover,.gameChoice2:hover{
    background-color:blue;
    cursor: pointer;
}

#gameSection{
    height:15em;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.game1,.game2{
    width:100%;
    /* height:100%; */
    text-align:center;
}
#nameOne{
    margin:0;
    position: absolute;
    top: 0;
}
#nameTwo{
    margin:0;
    position: absolute;
    top: 0;
}
.counter{
    width:50%;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    position: absolute;
    bottom: 0;
}