body,html{
    font-family: 'Lato', sans-serif;
    font-size:1em;

}

.mainContainer{
    min-height:100%;
    max-width:100%;
    margin:1em;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    /* background-size:cover; */
    /* border:2px solid black; */
    box-shadow: -1px 0px 10px 12px #888888;
    border-radius: 5px 5px;
}

#title{
    /* margin:0 auto; */
    text-align:center;
}
#chatInput{
    margin-top:1em;
}

.chatArea{
    display:flex;
   flex-direction:column-reverse;
   overflow:scroll;
    height:10em;
    padding:2em;
    /* border:1px solid black; */
}
/* #message{
    border:1px solid blue;
} */

#name-display{
    color:black;
}
.leftChat{
    height:100%;
}
.chatSection{
    width:100%;
    display:flex;

    flex-direction: column;
    justify-content: center;
}
.rightStart{
   
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* margin: 0 auto; */
    align-items: center;
    /* padding: 5em; */

}

.chatArea{
    text-align:right;
    background-color: rgba(230, 230, 230, 0.89);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,.075);
}

.innerBox{
    background-color: #dedede73;
    border-radius:20px 20px;
    height:10em;
}

.nameForm{
    max-width: 20em;
    height: 57.4%;
    display: flex;
    flex-direction: column;
    margin-bottom:.5em;
    
}

input{
    box-shadow: inset 4px -12px 20px 20px rgba(0,0,0,.075) !important;
    background-color: #fdfdfde0 !important;
}
.startBtn,.quitBtn{
    /* width:50%; */
    
}

.quitBtn{
  
}

/* .gameChoice1,.gameChoice2{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    width:100%;
    height:33.33%;
} */

.playerOne,.playerTwo,.gameMessage{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:14em;
}

.gameChoice1:hover,.gameChoice2:hover{
    background-color:rgb(133, 133, 156);
    cursor: pointer;
}

#gameSection{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.game1,.game2{
    width:100%;
    /* height:100%; */
    text-align:center;
}
#nameOne{
    margin:0;
    position: absolute;
    top: 0;
}
#nameTwo{
    margin:0;
    position: absolute;
    top: 0;
}
.counter{
width: 10em;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    position: absolute;
    bottom: 0;
}

#emailHelp{
    color:black;
}

#wins1,#wins2,#loss1,#loss2{
    font-size:1em;
}
@media only screen and (max-width: 540px) {
    .counter {
        width:6em;
    }
}